{%- assign a = site.data.about.companies -%}
<section class="py-8 py-md-11">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7 text-center">

        <!-- Heading -->
        <h2>
          {{a.title}}
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-7 mb-md-9">
          {{a.text}}
        </p>
        
      </div>
    </div> <!-- / .row -->
    <div class="row">
    {%- for item in a.list -%}
      <div class="col-4 col-md-2">

        <div class="img-fluid img-fluid mb-6 mb-md-8 svg-shim" style="color: {{item.color}};">
          {%- include {{item.logo}} -%}
        </div>

      </div>
    {%- endfor -%}

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>