
{%- assign s = site.data.about.slider -%}<section>
  <div class="flickity-button-white flickity-button-inset"
    data-flickity='{"imagesLoaded": true, "wrapAround": true, "pageDots": false}'>
    {%- for item in s -%}
      <div class="w-100">
  
        <!-- Image -->
        <img src="{{item.image}}" class="img-fluid w-100" alt="about slide">
  
        <!-- Shape -->
        <div class="shape shape-top shape-fluid-x svg-shim text-white">
          {%- include img/shapes/waves/wave-1.svg -%}
        </div>
  
      </div>
    {%- endfor -%}
  </div>
</section>