<section class="py-6 py-md-8 bg-primary-desat">
  <div class="container">
    <div class="flickity-viewport-visible"
      data-flickity='{"imagesLoaded": true, "initialIndex": 6, "pageDots": false, "prevNextButtons": false, "contain": true}'>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/airbnb.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/coinbase.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/dribbble.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/instagram.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/netflix.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/pinterest.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/airbnb.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/coinbase.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/dribbble.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/instagram.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/netflix.svg")
        </div>

      </div>
      <div class="col-4 col-md-3 col-lg-2">

        <!-- Brand -->
        <div class="img-fluid svg-shim text-white">
          @@include("assets/img/brands/logotype/pinterest.svg")
        </div>

      </div>
    </div>
  </div> <!-- / .container -->
</section>