<!-- BRANDS
    ================================================== -->
<section class="py-6 py-md-8 border-bottom">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      {%- for item in site.data.brands -%}
      <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0">
      
        <!-- Brand -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 svg-shim">
          <object type="image/svg+xml" data="{{item.link}}" class="text-gray-600">
            Your browser does not support SVG
          </object>
        </div>
      
      </div>
      {%- endfor -%}
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>