<div class="col-12 col-md-6">
  <!-- Map (mobile) -->
  <div class="embed-responsive embed-responsive-1by1 d-md-none">
    <div class="embed-responsive-item" data-toggle="map" data-options='{{a.map}}'></div>
  </div>

  <!-- Map -->
  <div class="position-relative h-100 vw-50 float-right d-none d-md-block">

    <!-- Map -->
    <div class="h-100 w-100" data-toggle="map" data-options='{{a.map}}'>
    </div>

    <!-- Shape -->
    <div class="shape shape-right shape-fluid-y svg-shim text-light">
      {%- include img/shapes/angles/angle-right.svg -%}
    </div>

  </div>

</div>