<div class="col-12 col-md-6 col-lg-5">

  <!-- Badge -->
  <span class="badge badge-pill badge-success-soft mb-3">
    <span class="h6 text-uppercase">{{s.badge}}</span>
  </span>

  <!-- Heading -->
  <h2>
    {{s.title}}
  </h2>

  <!-- Text -->
  <p class="font-size-lg text-gray-700 mb-6 mb-md-6">
    {{s.text}}
  </p>

  <!-- List -->
  <div class="row">
    {%- assign i = 0 -%}
    {%- for item in s.list -%}
    {%- if i | modulo: 2 == 0 -%}
    <div class="col-12 col-lg-6">
      {%- endif -%}
      <!-- Item -->
      <div class="d-flex">
        <!-- Check -->
        <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
          <i class="fe fe-check"></i>
        </div>

        <!-- Text -->
        <p class="text-success">
          {{item.name}}
        </p>

      </div>
      {%- if i | modulo: 2 == 0 -%}
    </div>
    {%- endif -%}
    {%- assign i = i | plus: 1 -%}
    {%- endfor -%}
  </div> <!-- / .row -->

</div>