{%- assign t = site.data.desktop.testimonials -%}
<section>
  <div class="container">
    <div class="row justify-content-between">
      {%- assign i = 0 -%}
      {%- for b in t -%}
      <div class="col-12 col-md">
        <!-- Blockquote -->
        <blockquote class="blockquote mb-8 mb-md-0">
          {%- assign img = b.image -%}
          <!-- Text -->
          <p class="lead text-gray-700 mb-5 mb-md-7">
            {{b.text1}}
          </p>
          <!-- Footer -->
          <p class="font-size-sm font-weight-bold mb-0">
            {{b.text2}}
          </p>
          <p class="font-size-sm text-muted mb-0">
            {{b.text3}}
          </p>
        </blockquote>
      </div>
      {%- assign k = i | modulo: 2 -%}
      {%- if k == 0 -%}
      <div class="col-1"></div>
      <div class="col-1 border-left"></div>
      {%- endif -%}
      {%- assign i = i | plus: 1 -%}
      {%- endfor -%}

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>