{%- assign c = site.data.coworking -%}
<section class="border-bottom">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-6 offset-md-1 order-md-2">
        <!-- Slider (mobile) -->
        <div class="d-md-none img-cover"
          data-flickity='{"imagesLoaded": true, "wrapAround": true, "prevNextButtons": false, "pageDots": false}'>
          {%- for item in c.slider.mobile -%}
            <div class="w-100">
              <!-- Image -->
              <img src="{{item.image}}" alt="welcome" class="img-fluid">
            </div>
          {%- endfor -%}
        </div>

        <!-- Slider -->
        <div class="position-relative h-100 vw-50 d-none d-md-block" data-aos="fade-left">

          <!-- Slider -->
          <div class="flickity-button-bottom flickity-button-white h-100 w-100"
            data-flickity='{"imagesLoaded": true, "setGallerySize": false, "wrapAround": true, "pageDots": false}'>

            {%- for item in c.slider.pc -%}
              <div class="w-100 h-100 bg-cover" style="background-image: url({{item.image}});"></div>
            {%- endfor -%}

          </div>

          <!-- Shape -->
          <div class="shape shape-left shape-fluid-y svg-shim text-white">
            {%- include img/shapes/angles/angle-left.svg -%}
          </div>

        </div>

      </div>
      <div class="col-12 col-md-5 py-8 py-md-14 order-md-1" data-aos="fade-right">

        <!-- Heading -->
        <h1 class="display-3">
          {{page.title}}
        </h1>

        <!-- Text -->
        <p class="lead text-muted mb-6 mb-md-8">
          {{page.description}}
        </p>

        <!-- Text -->
        <p>
          {{c.text}}
        </p>

        <!-- Form -->
        <form>
          <div class="form-row">
            <div class="col-12 col-lg">

              <!-- Search -->
              <div class="form-group mb-lg-0">
                <input type="search" class="form-control" value="Los Angeles">
              </div>

            </div>
            <div class="col-12 col-lg-auto">

              <!-- Button -->
              <button type="submit" class="btn btn-block btn-primary shadow lift">
                Find space
              </button>

            </div>
          </div> <!-- / .form-row -->
        </form>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>