<section class="py-8 py-md-11 border-bottom">
  <div class="container">
    <div class="row">
      {%- assign f = site.data.home.features -%}
      {%- for item in f -%}
      <div class="col-12 col-md-4" data-aos="fade-up">
        <!-- Icon -->
        <div class="icon text-primary mb-3">
          {%- include {{item.icon}} -%}
        </div>

        <!-- Heading -->
        <h3>
          {{item.title}}
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          {{item.text}}
        </p>
      </div>
      {%- endfor -%}
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>